@font-face {
    font-family:'Bright Aura';
    src: url('fonts/BrightAura/BrightAura.otf');
}
@font-face {
    font-family:'QuicksandRegular';
    src: url('fonts/Quicksand/Quicksand-Regular.ttf');
}
@font-face {
    font-family:'QuicksandBold';
    src: url('fonts/Quicksand/Quicksand-Bold.ttf');
}
.titulo{
    -fx-font-family: 'QuicksandBold';
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-font-size: 32px;
    -fx-text-fill: #F47A2D;
}
.subTitulo {
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 24px;
    -fx-text-fill: #5D4037;
}
.textoNormal{
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 20px;
    -fx-text-fill: #5D4037;
}
.textoPreco{
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 18px;
    -fx-text-fill: #5D4037;
}
.botao{
    -fx-font-family: 'QuicksandBold';
    -fx-background-color: #eed19d;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-font-size: 20px;
    -fx-text-fill: #C6422C;
}
.botao:hover{
    -fx-background-color: #dcb97e;
    -fx-text-fill: #C6422C;
    -fx-cursor: hand;
}
.botao-voltar{
    -fx-font-family: 'QuicksandBold';
    -fx-background-color: #E0E0E0;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-font-size: 20px;
    -fx-text-fill: #757575;
}
.botao-voltar:hover{
    -fx-background-color: #d1d1d1;
    -fx-cursor: hand;
}
.botao-add {
    -fx-font-family: 'QuicksandBold';
    -fx-background-color: #A5D6A7;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-font-size: 12px;
    -fx-text-fill: #388E3C;
}
.botao-add:hover {
    -fx-background-color: #81C784;
    -fx-cursor: hand;
}
.secundario{
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 16px;
    -fx-text-fill: #A1A1A1;
}
.lista{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.lista .list-cell{
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 16px;
    -fx-text-fill: #5D4037;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}
.achorPane{
    -fx-background-color: #FFF9C4;
    -fx-background-radius: 20px;
}
.lista-carrinho {
    -fx-background-color: #FFFDE7;
    -fx-border-color: #FFF9C4;
    -fx-border-width: 2px;
}
.lista-carrinho .list-cell {
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 14px;
    -fx-text-fill: #5D4037;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}