@font-face {
    font-family:'Bright Aura';
    src: url('fonts/BrightAura.otf');
}
.titulo{
    -fx-font-family: 'Bright Aura';
    -fx-font-size: 32px;
    -fx-text-fill: #F47A2D;
}
.textoNormal{
    -fx-font-family: 'Bright Aura';
    -fx-font-size: 20px;
    -fx-text-fill: #5D4037;
}
.botao{
    -fx-font-family: 'Bright Aura';
    -fx-font-size: 22px;
    -fx-text-fill: #C6422C;
}
.secundario{
    -fx-font-family: 'Bright Aura';
    -fx-font-size: 16px;
    -fx-text-fill: #A1A1A1;
}