@font-face {
    font-family:'Bright Aura';
    src: url('fonts/BrightAura/BrightAura.otf');
}
@font-face {
    font-family:'QuicksandRegular';
    src: url('fonts/Quicksand/Quicksand-Regular.ttf');
}
@font-face {
    font-family:'QuicksandBold';
    src: url('fonts/Quicksand/Quicksand-Bold.ttf');
}
.titulo{
    -fx-font-family: 'QuicksandBold';
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-font-size: 32px;
    -fx-text-fill: #F47A2D;
}
.subTitulo {
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 24px;
    -fx-text-fill: #5D4037;
}
.textoNormal{
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 20px;
    -fx-text-fill: #5D4037;
}
.botao{
    -fx-font-family: 'QuicksandBold';
    -fx-background-color: #eed19d;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-font-size: 20px;
    -fx-text-fill: #C6422C;
}
.botao:hover{
    -fx-background-color: #dcb97e;
    -fx-text-fill: #C6422C;
    -fx-cursor: hand;
}
.secundario{
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 16px;
    -fx-text-fill: #A1A1A1;
}
.lista{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.lista .list-cell{
    -fx-font-family: 'QuicksandRegular';
    -fx-font-size: 16px;
    -fx-text-fill: #5D4037;
    -fx-padding: 0 0 20px 0;
    -fx-background-color: transparent;
}
.spinner{
    -fx-font-family: 'QuicksandBold';
}
.spinner .text-field{
    -fx-font-size: 14px;
    -fx-text-fill: #5D4037;
    -fx-background-color: white, #eed19d;
    -fx-background-insets: 0, 1;
}
.spinner .arrow-button{
    -fx-background-color: #eed19d;
    -fx-background-radius: 0 5 5 0;
}
.spinner .arrow-button:hover{
    -fx-background-color: #dcb97e;
}
.spinner .arrow{
    -fx-background-color: #C6422C;
}